/* Basic styling for the grid */
.container {
    display: flex;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 80vh; /* Full viewport height */
}
.grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(5, 30px);
    justify-content: center;
    grid-gap: 2px;
    /*border: 10px solid black;  change px to get border length */
}
.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    
}
/*Cell Borders*/
.cell:nth-child(1){
    border: 1px dotted;
    border-top: 1px solid green;
    border-left: 1px solid black;            
}
.cell:nth-child(2){
    border: 1px dotted;
    border-top: 1px solid black;
    border-bottom: 1px solid black;            
}
.cell:nth-child(3){
    border: 1px dotted;
    border-top: 1px solid black;
    border-bottom: 1px solid black;            
}
.cell:nth-child(4){
    border: 1px dotted;
    border-top: 1px solid black;          
}
.cell:nth-child(5){
    border: 1px dotted;
    border-top: 1px solid black;          
    border-right: 1px solid black;          
}
.cell:nth-child(6){
    border: 1px dotted;
    border-top: 1px solid black;    
    border-left: 1px solid black;      
}
.cell:nth-child(7){
    border: 1px dotted;
    border-top: 1px solid black;          
}
.cell:nth-child(8){
    border: 1px dotted;
    border-top: 1px solid black;          
}
.cell:nth-child(9){
    border: 1px dotted;
    border-top: 1px solid black;                    
}
.cell:nth-child(10){      
    border: 1px dotted;
    border-top: 1px solid black;          
    border-right: 1px solid black;          
}
.cell:nth-child(11),
.cell:nth-child(21) {
    border: 1px dotted;
    border-left: 1px solid black; 
}
.cell:nth-child(12){
    border: 1px dotted;
    border-top: 1px solid black;            
}
.cell:nth-child(13){
    border: 1px dotted;
    border-top: 1px solid black;           
}
.cell:nth-child(14){
    border: 1px dotted;
    border-bottom: 1px solid black;           
}
.cell:nth-child(15), .cell:nth-child(16), .cell:nth-child(18), .cell:nth-child(19){
    border: 1px dotted;
}
.cell:nth-child(17){
    border: 1px dotted;        
    border-bottom: 1px solid black;           
}
.cell:nth-child(20){
    border: 1px dotted;
    border-right: 1px solid black; 
}
.cell:nth-child(22){
    border: 1px dotted;        
    border-bottom: 1px solid black;           
}
.cell:nth-child(23){
    border: 1px dotted;        
    border-right: 1px solid black;           
}
.cell:nth-child(24){
    border: 1px dotted;
    border-top: 1px solid black;           
    border-left: 1px solid black;           
}
.cell:nth-child(25){
    border: 1px dotted;           
}
.cell:nth-child(26){
    border: 1px dotted;                  
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.cell:nth-child(27){
    border: 1px dotted;        
    border-top: 1px solid black;           
    border-left: 1px solid black;           
}
.cell:nth-child(28) {
    border: 1px dotted;
    border-right: 1px solid black; 
}
.cell:nth-child(29) {
    border: 1px dotted;
    border-left: 1px solid black; 
}
.cell:nth-child(30){
    border: 1px dotted;           
    border-right: 1px solid black; 
}
.cell:nth-child(31) {
    border: 1px dotted;
    border-left: 1px solid black; 
    border-right: 1px solid black; 
}
.cell:nth-child(32) {
    border: 1px dotted;
    border-left: 1px solid black;  
    border-top: 1px solid black;  
}
.cell:nth-child(33) {
    border: 1px dotted;
}
.cell:nth-child(34) {
    border: 1px dotted;
    border-bottom: 1px solid black; 
}
.cell:nth-child(35) {
    border: 1px dotted;
}
.cell:nth-child(36) {
    border: 1px dotted;
    border-top: 1px solid black; 
    border-right: 1px solid black; 
}
.cell:nth-child(37) {
    border: 1px dotted; 
    border-left: 1px solid black; 
}
.cell:nth-child(38), .cell:nth-child(39){
    border: 1px dotted; 
    border-bottom: 1px solid black; 
}
.cell:nth-child(40) {
    border: 1px dotted; 
    border-bottom: 1px solid black; 
    border-right: 1px solid black; 
}
.cell:nth-child(41) {
    border: 1px dotted;
    border-left: 1px solid black; 
    border-bottom: 1px solid black; 
}
.cell:nth-child(42),
.cell:nth-child(43) {
    border: 1px dotted;
    border-bottom: 1px solid black; 
}
.cell:nth-child(44) {
    border: 1px dotted;
    border-top: 1px solid black; 
    border-bottom: 1px solid black; 
}
.cell:nth-child(45),
.cell:nth-child(46),
.cell:nth-child(47) {
    border: 1px dotted;
    border-bottom: 1px solid black; 
}
.cell:nth-child(48),
.cell:nth-child(49) {
    border: 1px dotted;
    border-top: 1px solid black; 
    border-bottom: 1px solid black; 
}
.cell:nth-child(50) {
    border: 1px dotted;
    border-top: 1px solid black; 
    border-right: 1px solid black; 
    border-bottom: 1px solid green;
}
/*Cell Borders*/

.player1 {
    background-color: #00f;      
}
.player2 {
    background-color: #f00;
}
.win-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background-color: #f9f9f9;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    display: none;
}
#restartButton {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    
}
.container1{
    display: flex;  
    justify-content: center;  
    align-items: center;  
    
}
#playerTurnMessage {
    margin-left: 34.5%;
    font-size: 22px;
    margin-top: -150px;
    font-weight: bold;
}